@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    margin:0;
    overflow-x: hidden;
}

.body{
    margin:0;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh; 
    font-family:  'montserrat', Arial, Helvetica, sans-serif ;   
    scroll-behavior: smooth;
    perspective: 10px;
}

.body::-webkit-scrollbar{
    width: 0;
}

.hero{
    height: 100vh;
    margin: 0;
    border: transparent solid thin;
    position: relative;
    width: 100vw;
    transform-style: preserve-3d;
    z-index:-1;
}

.hero img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: 90% 25% ;
    z-index: -1;
    transform: translateZ(-5px) scale(1.5);
}

.cover{
    position: absolute;
    width:100vw;
    z-index: -1;
    height:100vh;
    transform: translateZ(-5px) scale(1.5);
    background-color: rgba(0, 0, 0, 0.2);
    animation: delay 1.5s ease-in-out .5s 1 forwards;
}

@keyframes delay{
    0%{
        background-color: rgba(0, 0, 0, 0.2);
    }

    100%{
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.head{
    margin:0;
    z-index: 1;
    padding: 20px;
    padding-top: 0px;
    margin-left: 30px;
    color: #FAF9F6;
    text-transform: capitalize;
}

.head h1{
    font-weight: 400;
}

h1{
    text-transform: capitalize;
}

.back, .menu, #check{
    display: none;
 }

 .hero ul{
    font-size: 22px;
    float: right;
 }

 .hero ul li{
    list-style: none;
    display: inline;
    margin: 0;
 }

 .hero ul li a{
    color: rgb(179, 179, 179);
    text-decoration: none;
    padding: 1.5em;
 }

 .hero ul li a:hover{
    color: #0CAFFF;
    border-bottom: #5072A7 2px outset;
 }

 /* Define the font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

 .tag{
    width: clamp(250px, 80%, 400px);
    margin:5%;
    margin-top: 0%;
    height: 300px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1.4s linear .5s forwards;
}

/* Define a keyframes animation to make the text appear */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
     
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .tag h1{
      color:#F0EAD6;
     }

  .tag h2{
       color:#F0EAD6;
        font-weight: 400;
  }

  .calltoaction a{
    background-color:transparent ;
    padding: 8px;
    color: white;
    border:#1C39BB solid medium;
  }

  a{
    text-decoration: none;
 }

 .calltoaction a:hover{
    background-color:#1C39BB ;
    padding: 8px;
    color: white;
    border:#1C39BB solid thin;
  }
  
ol li{
    list-style: circle;
    color: #F0EAD6;
    line-height: 1.4em;
}


.content{
    height: fit-content;
    width: 100vw;
    padding-top: 20px;
    align-items: center;
    margin: 0;
    background-color: #DED9D6;
}

.content h1{
    color: #202020;
}

.pas-main h1{
    color: rgb(51, 51, 51);
}

.pas, .video{
    width: clamp(270px, 90%, 1000px);
    margin:auto;
    margin-top:10px;
}

.pas-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    gap: 1.5rem;
    line-height: 1.5em;
}

.video{
    align-items: center;
}

.video-main{
    margin: auto;
    width: clamp(270px, 60%, 450px);
}

video{
    width: 100%;
    object-fit: cover;
}

.benefits{
    width: 100%;
    height: fit-content;
    align-items: center;
    color: white;
    background-color: #252525;
}

.benimg{
    width: clamp(270px, 90%, 600px);
    margin: auto;
    padding-top: 40px;
} 

.image{
    width: fit-content;
    margin: auto;
}

.benimg img{
    width: clamp(260px, 90%, 500px);
    border-radius: 20px;
    object-fit: cover;
}

.benefitsjr{
    width: clamp(270px, 90%, 1000px);
    margin: auto;
}

.benefitsjr article{
    background-color: rgba(66, 66, 66, 0.3);
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1rem;
    border-radius: 5px;
}

article h2{
    text-transform: capitalize;
    color: rgb(156, 156, 156);
    border-bottom: solid rgb(153, 153, 153) thin;
    width: fit-content;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.one, .two{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    margin: auto;
    gap: 1.5rem;
}



.feed-cont{
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #FFFAFA;
}

.feed-cont h3{
    padding: 10px;
    text-transform: capitalize;
    line-height: 1.8em;
    color:#343434;
    margin: auto;
    width:fit-content;
    margin-bottom: 20px;
}

.h3head{
    color:#343434;
    border-bottom: #343434 thin solid;
}

.feedback{
    margin: auto;
    max-width: 80%;
    overflow-x: auto;
    display: flex;
    cursor: move;
    height: fit-content;
}

.feedback::-webkit-scrollbar{
    width:0;
  }

.feeds{
    min-width:450px;
    background-color: #b6b6b659;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

.feeds img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}

img.review{
    width: fit-content;
    border-radius: 0px;
    height:50px;
}

.about{
    width: 100%;
    padding-top: 20px;
    background-color: rgb(36, 41, 51);
    color: white;
}

.about img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    object-fit: cover;
}

.about h1{
    width: fit-content;
    margin: auto;
}

.about h1, .about h2{
    color:#b3c1ff;
    font-weight: 500;
}

.about article{
    line-height: 1.5em;
}

.about-one{
    width: clamp(270px, 90%, 900px);
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 2fr));
    gap: 1.5rem;
  
margin: auto;
}

.about-two{
    width: clamp(260px, 90%, 900px);
    margin: auto;
    padding-bottom: 30px;
}

#contact{
    width: 100vw;
    padding-top: 20px;
    background-color: rgb(0, 0, 22);
    color: white;
}

.contact{
    width: clamp(270px, 90%, 900px);
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(265px, 2fr));
        gap: 1.5rem;
      
    margin: auto;
}

 img.contact{
    width: 270px;
    object-fit: cover;
    object-position: top;
    height: 270px;
    border-radius: 270px;
    margin: 10px;
}

.special{
    color:rgb(157, 183, 255);
}

#submit{
    background-color: rgb(255, 138, 138);
    font-size: 18px;
}

img.logo{
    width: 30px;
           object-fit: contain;
           height: 30px;
           transition: all .2s ease-in-out;
    margin: 10px; 
}

img.logo:hover, img.logo:active{
    transform:translateY(-.3em);
}

input, textarea{
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
  line-height: 2em;
    transition: all .2s ease-in-out;
    width: 250px;
}

input:focus, textarea:focus{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 18px;
    transform: translateY(-.2em);
}

footer{
    padding: 5px;
    padding-top: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
}

footer a{
    color:#acbbfc;
    text-decoration: underline;
}

@media (max-width:290px){
    .body{
        font-size: 16px;
    }

    .tag{
        margin-top:0px;
    }
}


@media (min-width:290px)and(max-width:450px) {

    .body{
        font-size: 18px;
    }

    .head{
        padding: 10px;
        margin-left: 15px;
    }
    

    .tag{
        margin-top:100px
    }

    

    

    img.contact{
        width: 220px;
        object-fit: cover;
        object-position: top;
        height: 220px;
        border-radius: 220px;
        margin: 10px;
    }

    .feedback{
        max-width: 90%;
    }    

    .feeds{
        min-width:350px;
    }


}  

@media (max-width:780px){

    .hero ul li{
        padding: 1em;
     }

     .one{
        margin-bottom: 1.5rem;
     }
    
}

@media (orientation:portrait){
    .back, .menu {
        display: block;
     }

     .head{
        margin-left: 5px;
     }
    
      ul{
        height: 100vh;
        position: absolute;
        width: 85vw;
        font-size: 22px;
        float: none;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        transition: .8s ease-in-out;
        left: -150vw;
     }
    
     .hero ul li{
        list-style: none;
        display: block;
        margin: 0;
        padding: 1.5em;
     }

     #check:checked ~ .nav ul{
        left: 0vw;
      }

      .back{
        float:right;
        font-size: 30px;
        padding: 5px;
        border: white solid medium;
        display: block;
        color:white;
        cursor: pointer;
      }
    
      .menu{
        display: block;
        position: absolute;
        padding:4px;
        padding-bottom: 4px;
        border:rgb(228, 230, 255) solid thin;
        margin-top: 25px;
        margin-right: 15px;
        cursor: pointer;
        line-height: 32px;
        color: rgb(255, 255, 255);
        font-size: 40px;
        left: 85%;
       }
    
}
